/*GLOBAL STYLES*/
body {
    background-color: #132A2A;
    margin: 0;
    color: white;
    font-family: "rajdhani", sans-serif;
  }
  figcaption {
    color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  a {
    color: white;
    text-decoration: none;
  }
  
  /*NAVIGATION*/
  #navbar {
    position: fixed;
    display: block;
    width: 100vw;
    background-color: black;
  }
  #navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 30px;
  }
  
  #navbar li a:hover {
    background-color: white;
    color: black;
  }
  #navbar li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
  }
  #navbar a:hover {
    color: black;
    text-decoration: none;
  }
  /*WELCOME SECTION*/
  #welcome-section {
    background-image: url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-bottom: 0;
    flex-wrap: no-wrap;
  }
  #welcome section > div {
    text-align: center;
  }
  #welcome-section h1 {
    font-size: 100px;
    font-weight: 100;
    margin: 70px auto 20px 50px;
    line-height: 90px;
  }
  #welcome-section p {
    font-size: 40px;
    margin: 0 auto 50px 50px;
    line-height: 50px;
  }
  
  /*dropdown*/
  #dropdown {
    background-color: white;
    color: black;
    width: 100vw;
  }
  #dropdown > p {
    font-size: 20px;
    font-weight: 600;
  }
  #dropdown > h2 {
    font-size: 40px;
    margin: 0 30px 0 30px;
    padding: 10px;
  }
  #p1, #p2, #p3, #s1, #s2, #s3 {
    margin: 0 30px 0 30px;
    margin-bottom: 0;
    padding: 10px;
  }
  #s1 p {
    margin-top: 2px;
    font-weight: bold;
    color: grey;
  }
  #s2 p {
    margin-top: 2px;
    font-weight: bold;
    color: grey;
  }
  #s3 p {
    margin-top: 2px;
    font-weight: bold;
    color: grey;
  }
  h3 {
    margin: 0;
  }
  .dropbtn1 {
    background-color: black;
    display: block;
    color: white;
    padding: 20px;
    font-size: 16px;
    width: 100vw;
    border: none;
    font-family: "rajdhani", sans-serif;
    font-size: 20px;
  }
  .dropbtn2 {
    background-color: black;
    display: block;
    color: white;
    padding: 10px;
    font-size: 12px;
    width: 100vw;
    border: none;
    font-family: "rajdhani", sans-serif;
  }
  /*PROJECT SECTION*/
  #projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 100px 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
  }
  #heading {
    grid-column: 1/5;
    grid-row: 1;
    color: white;
    align-self: center;
    justify-self: center;
    font-size: 50px;
    margin: 20px;
  }
  #subheading {
    grid-column: 2/4;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    margin: 20px 20px 100px 20px;
  }
  #item1 {
    grid-column: 1/3;
    grid-row: 3/5;
  }
  #item2 {
    grid-column: 3/5;
    grid-row: 3/5;
  }
  #item3 {
    grid-column: 1/3;
    grid-row: 5/7;
  }
  #item4 {
    grid-column: 3/5;
    grid-row: 5/7;
  }
  .project-tile {
    border: 8px solid white;
    border-radius: 4%;
  }
  .fcc:hover {
    color: lightgrey;
    font-size: 21px;
  }
  figcaption {
    margin-top: 10px;
  }
  
  /* ART GALLERY */
  div.art_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  div.art_gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
  }

  div.art_gallery-item:hover {
    border:1px solid #777;
  }

  div.art_gallery-item img {
    width: 100%;
    height: auto;
  }

  div.art_gallery-item div.desc {
    padding: 15px;
    text-align: center;
  }
  
  /* CONTACTS SECTION */
  .footer {
      background: black;
      color: white;
    text-align: center;
  }
  .contact-list {
      list-style-type: none;
      padding: 0;
    display: flex;
    justify-content: center;
  }
  .contact-list a {
      padding: 15px;
      display: inline-block;
    color: white;
    font-size: 20px;
  }
  .contact-list a:hover {
      padding: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
  }
   .content-wrap {
      max-width: 800px;
      width: 85%;
      margin: 0 auto;
      padding: 40px 0;
  }
  footer h2 {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  
  /*MEDIA QUERIES*/
  @media screen and (max-width: 900px) {
  /*GRID LAYOUT*/
    #projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 170px 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    }
    #heading {
      grid-column: 1/2;
      grid-row: 1;
      color: white;
      align-self: center;
      justify-self: center;
      font-size: 50px;
      margin: 20px 20px 0 20px;
    }
    #subheading {
      grid-column: 1/2;
      align-self: center;
      justify-self: center;
      grid-row: 2;
      margin:20px;
    }
    #item1 {
      grid-column: 1/2;
      grid-row: 3;
  }
    #item2 {
      grid-column: 1/2;
      grid-row: 4;
  }
    #item3 {
      grid-column: 1/2;
      grid-row: 5;
  }
    #item4 {
      grid-column: 1/2;
      grid-row: 6;
  }
  /*NAVBAR POSITION*/
  #navbar ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      padding: 25px;
  }
  #navbar li a {
    font-size: 20px;
    font-weight: bold;
  }
  /*CONTACT LIST*/
   .contact-list {
     list-style-type: none;
     padding: 0;
     display: block;
  }
   .contact-list li {
     list-style-type: none;
     padding: 0;
  }
   .content-wrap {
     margin: 0 auto;
     padding: 20px 0;
  }
  }